*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

article{
    background-color: aquamarine;
    gap: 1px;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}