*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

article{
    background-color: aquamarine;
    gap: 1px;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.user-msg {
    position: fixed;
    bottom: -100px;
    right: 10px;
    background-color: #111;
    color: whitesmoke;
    padding: 10px;
}

.user-msg.open {
    bottom: 10px;
    transition: bottom .5s;
}