*{
    box-sizing: border-box;
}

html{
    height: 100%;
    background-color: var(--clr3);
}

body{
    margin: 0;
    font-family: 'Roboto';
}

button {
    cursor: pointer;
    height: 100%;
    
}

main{
    background-color: var(--clr1);
    height: 100%;
    border-radius: 25px;
    padding: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}