
/* Locations */

.Locations {
    padding: 50px;
}

.saved-locs article{
    background-color: whitesmoke;
    color: var(--clr3);
    border: 1px solid var(--clr3);
    border-radius: 25px;
    padding: 5px;
    padding-left:20px ;
    padding-right:20px ;
    margin-bottom: 2px;
}

.saved-locs article:hover {
    background-color: var(--secondaryClr);
    cursor: pointer;
}

.saved-locs article .active {
    background-color: var(--secondaryClr);
}

.map-header {
    background-color: var(--secondaryClr);
    color: var(--clr0);
    padding: 10px;
}

.map-controller {
    background-color: transparent;
}

.map-controller > *{
    flex-grow: 1;
    /* background-color: var(--primaryClr); */
    border-radius: 5px;
    padding: 5px;
}

.user-msg {
    position: fixed;
    bottom: -100px;
    right: 10px;
    background-color: var(--clr0);
    color: var(--clr3);
    padding: 10px;
}

.user-msg.open {
    bottom: 10px;
    transition: bottom .5s;
}